<!-- About Section -->
<section id="about" class="about section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
          <p class="who-we-are">Who We Are</p>
          <h3>The People Behind DevDrift</h3>
          <p class="fst-italic">
            DevDrift was born out of a shared love for coding and a desire to make learning more engaging and accessible. What started as a small project has grown into a thriving platform, thanks to the support of our amazing community.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> <span>We help people to become successful programmers.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>We inspire the next generation of developers.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>We create opportunities for people.</span></li>
          </ul>
          <a href="#features" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
        </div>

        <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-4">
            <div class="col-lg-6">
              <img src="frontend/assets/img/about-company-1.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6">
              <div class="row gy-4">
                <div class="col-lg-12">
                  <img src="frontend/assets/img/about-company-2.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-12">
                  <img src="frontend/assets/img/about-company-3.jpg" class="img-fluid" alt="">
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
</section><!-- /About Section -->