
<main class="main">

    <div class="container section-title" data-aos="fade-up">
      <h2>Career</h2>
      <div><span>Check Our</span> <span class="description-title">Career</span><span> Blogs</span></div>
    </div><!-- End Section Title -->


    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Blog Hero Section -->
    <section id="blog-hero" class="blog-hero section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="blog-grid">

          <!-- Featured Post (Large) -->
          <article class="blog-item featured" data-aos="fade-up">
            <img src="frontend/assets/img/itgroup.jpg" alt="Blog Image" class="img-fluid">
            <div class="blog-content">
              <div class="post-meta">
                <span class="date">Jan. 12th, 2025</span>
              </div>
              <h2 class="post-title">
                <a href="#blog-detail">Tipične uloge u IT industriji</a>
              </h2>
            </div>
          </article><!-- End Featured Post -->

          <!-- Regular Posts -->
          <article class="blog-item" data-aos="fade-up" data-aos-delay="100">
            <img src="frontend/assets/img/think.jpg" alt="Blog Image" class="img-fluid">
            <div class="blog-content">
              <div class="post-meta">
                <span class="date">Feb. 14th, 2025</span>
              </div>
              <h3 class="post-title">
                <a href="#blog-detail2">IT karijera? Kako i gdje početi?</a>
              </h3>
            </div>
          </article><!-- End Blog Item -->

          <article class="blog-item" data-aos="fade-up" data-aos-delay="200">
            <img src="frontend/assets/img/praksa.jpg" alt="Blog Image" class="img-fluid">
            <div class="blog-content">
              <div class="post-meta">
                <span class="date">Jun. 5th, 2024</span>
              </div>
              <h3 class="post-title">
                <a href="#blog-detail">Kako pronaći praksu i prvi IT posao?</a>
              </h3>
            </div>
          </article><!-- End Blog Item -->
        </div>

      </div>

    </section><!-- /Blog Hero Section -->


</main>
